a {
  text-decoration: none;
}

.list-items {
  display: flex;

  gap: 1rem;
}

@media screen and (max-width: 992px) {
  .list-items {
    display: flex;
    flex-direction: column;
    gap: 0;
  }
  .nav-items {
    margin-top: 10px;
  }
}
